<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 position-fixed header">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img decoding="async" src="@("~/img/pt.png")" asp-append-version="true" width="160px" />
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                
            </div>
            <Partial name="_LoginPartial" />
           @* <div id="notification-button">
                Thông báo
                <div id="notification-count">0</div>
            </div>*@

        </div>
    </nav>
</header>
<style>
    .header {
        background-color: #FFFBD1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 60px; /* Chiều cao của header */
        z-index: 100; /* Để đảm bảo header hiển thị trên cùng */
    }
</style>