<div class="sidebar">
    <ul class="nav">
        @*<li>
            <span class="nav-item  border-bottom border-danger">
                <img decoding="async" src="@("~/img/project.png")" asp-append-version="true" width="20px" />
                <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index">Reserch Project</a>
            </span>
        </li>*@
        
        <li>
            <span class="nav-item  border-bottom border-danger">
                <img decoding="async" src="@("~/img/task.png")" asp-append-version="true" width="20px" />
                <a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="Index">Task</a>
            </span>
        </li>
        <li>
            <span class="nav-item  border-bottom border-danger">
              
                    <img decoding="async" src="@("~/img/notification.png")" asp-append-version="true" width="20px" />
                    <a class="nav-link text-dark" asp-area="" asp-controller="Invitations" asp-action="Index">Notifications</a>
             
                </span>

        </li>
        <li>
            <span class="nav-item  border-bottom border-danger">
                <img decoding="async" src="@("~/img/document.png")" asp-append-version="true" width="20px" />
                <a class="nav-link text-dark" asp-area="" asp-controller="Documents" asp-action="Index">Document</a>
            </span>
        </li>

    </ul>
    
</div>



<style>
  
    .sidebar {
        position: fixed;
        top: 50px; 
        left: 0;
        width: 200px; 
        height: 100%; 
        background-color: rgb(240,255,255); 
        overflow-y: auto; 
    }

    .nav-item {
        margin-left:15px;
        margin-top: 10px;
        padding-left: 5px;
        display: flex;
        align-items: center; 
        width: 170px;
       
      
    }


        .sidebar ul {
            list-style-type: none;
            padding: 5px;
            
        }

            .sidebar ul li {
               
                text-align: center;
               
            }

                .sidebar ul li a {
                    color: b;
                    text-decoration: none;
                }

                .sidebar ul li a span:hover,
                .sidebar ul li a span:active {
                    background-color: #99FFFF; 
                }



</style>