@{
    ViewData["Title"] = "Home Page";
}
@*@model IEnumerable<ResearchProject.Models.Project>*@
@model ResearchProject.Models.IndexViewModel


<div class="row" style="width: 100%; display: flex;">
    <div class="col-md-3">
        <a asp-action="Create" asp-route-id="" style="Text-decoration: none">
            <div class="card">
                <div class="card-header">
                    <h4 class="project-name">+</h4>
                </div>


                <div class="card-body">
                    <ul class="member-list">
                        <li>Add new</li>
                    </ul>
                </div>
            </div>

        </a>
    </div>
    @foreach (var item in Model.UserProjects)
    {
        <div class="col-md-3">
            <a asp-action="Details" asp-route-id="@item.Id" style="Text-decoration: none">
                <div class="card">
                    <div class="card-header">
                        <h4 class="project-name">@item.ProjectName</h4>
                    </div>
                    <div class="card-body">
                        <ul class="member-list pr-project">
                            @foreach (var member in item.ResearchProjectUsers)
                            {
                                <li>@member.Name</li>
                            }
                        </ul>
                    </div>
                </div>
            </a>

        </div>
    }
</div>



<style>
    .content {
        overflow: hidden;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }
    

    .card {
        border-radius: 1rem;
        margin: 10px;
        height: 200px;
        width: 250px;
    }

    .card-header {
        background: #1dbbd6;
        border-radius: 1rem 1rem 0 0 !important;
        padding: 1rem;
        height: 80px
    }

    .project-name {
        margin: 0;
        color: white;
    }

    .pr-project {
        max-height: 100px;
        overflow: auto;
    }

</style>